h1 {
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  font-size: 60px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  }

p {
  padding-left: 30px;
}

img {
  padding: 30px;
}

iframe {
  padding: 30px;
}

ul {
  list-style-type: none;
  padding : 0;
}

address {
  border-top: 1px solid #ddd; 
}

.top {
  float: right;
}